<div class="w-11/12 md:w-4/5 mx-auto px-4 mt-10 border-b-2 border-gray-300">
    <h2 class="text-center text-2xl text-gray-800 ">Analysis for the current month</h2>
    <!-- <p class="text-center">Number of Transactions {{numberOfTransactions}}</p> -->
    
    <div class=" w-full mx-auto mt-10 pb-10 pl-6 border-b-2 border-gray-300">
        <h2 class="text-center md:text-left text-2xl text-gray-800 text-center">Number of Transactions</h2>
        <div class="flex justify-center items-center w-11/12 md:w-4/5 mx-auto mt-4">
            <h3 class="text-3xl border-3 border-blue-500 rounded-full  p-3 md:p-6">{{numberOfTransactions}}</h3>
        </div>
    </div>
    <div>
        <div class=" w-full mx-auto mt-10 pb-10 pl-6 border-b-2 border-gray-300">
            <h2 class="text-center md:text-left text-2xl text-gray-800 ">Expenses chart</h2>
            <div class="flex justify-center items-center w-11/12 md:w-4/5 mx-auto mt-10">
                <div class="w-full md:w-2/3 md:chart-container">
                    <canvas id="MyChart" height="450" width="600">{{chart}}</canvas>
                </div>
            </div>
        </div>
        
        <!-- Time-Based Analysis Chart -->
        <div class="w-full mx-auto mt-10 pb-10 pl-6 border-b-2 border-gray-300">
            <h2 class="text-center md:text-left text-2xl text-gray-800">Time-Based Analysis</h2>
            <div class="flex justify-center items-center w-11/12 md:w-4/5 mx-auto mt-10">
                <div class="w-full md:w-2/3 md:chart-container mr-10">
                    <canvas id="timeBasedChart" height="450" width="600"></canvas>
                </div>
            </div>
        </div>
        
        <!-- Table for larger screens -->
        <div class="w-full mx-auto mt-10 pb-10 pl-6 border-b-2 border-gray-300 hidden sm:block">
            <h2 class="text-center md:text-left  text-2xl text-gray-800 mb-6">Top 5 Biggest Transactions</h2>
            <table class="table-auto w-full text-left border-collapse mt-8">
                <thead>
                    <tr class="w-full text-sm text-gray-600 uppercase tracking-wider">
                        <th class="px-4 py-2">Date</th>
                        <th class="px-4 py-2">Category</th>
                        <th class="px-4 py-2">Amount</th>
                        <th class="px-4 py-2">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of biggestTransactions" class="hover:bg-gray-50">
                        <td class="px-4 py-2">{{ transaction.date | date: 'MMM d, y' }}</td>
                        <td class="px-4 py-2">{{ getCategoryName(transaction.categoryId) }}</td>
                        <td class="px-4 py-2 text-red-500 font-semibold">{{ transaction.amount | currency: userCurrencySymbol?.toString() + " " }}</td>
                        <td class="px-4 py-2">{{ transaction.description || '—' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- List for smaller screens -->
        <div class="w-full mx-auto mt-10 pb-10 pl-6 border-b-2 border-gray-300 sm:hidden">
            <h2 class="text-center md:text-left text-2xl text-gray-800 mb-6">Top 5 Biggest Transactions</h2>
            <div *ngFor="let transaction of biggestTransactions" class="mb-4 p-4 border rounded-lg shadow-md hover:bg-gray-50">
                <div class="flex justify-between">
                    <p class="font-semibold text-gray-800">{{ transaction.date | date: 'MMM d, y' }}</p>
                    <p class="text-red-500 font-semibold">{{ transaction.amount | currency: userCurrencySymbol?.toString() + " "}}</p>
                </div>
                <p class="text-sm text-gray-600">{{ getCategoryName(transaction.categoryId) }}</p>
                <p class="text-sm text-gray-500">{{ transaction.description || '—' }}</p>
            </div>
        </div>

    </div>

</div>
