<div class="content-center h-screen md:text-center transition-all duration-300 ease-in-out">
    <!-- login -->
    <ng-container *ngIf="!isAuthenticated; else loggedIn">
      <app-auth-layout></app-auth-layout>
    </ng-container>
    <!-- authenticated -->
    <ng-template #loggedIn>
      <nav>
        <div class="flex justify-between items-center w-11/12 md:w-4/5 mx-auto px-4 mt-10 border-b-2 border-gray-300">
          <!-- Logo and other top content -->
          <h1 class="text-xl md:text-2xl tracking-tight text-gray-950">{{title}} </h1>
          <span class="text-sm pl-5 md:text-md md:pl-0" *ngIf="userName">Welcome {{userName}}!</span>
          <!-- Logout Button -->
          <a 
            href="javascript:void(0);" 
            (click)="logout()" 
            class="text-right md:px-4 py-2 block w-40 text-red-600 font-semibold hover:text-red-700 transition-all duration-300">
            <i class="fas fa-sign-out-alt mr-2"></i> Logout
          </a>
        </div>
        
        <div class="p-4 pb-6 flex md:items-center md:justify-center w-11/12 md:w-4/5 mx-auto px-4 border-b-2 border-gray-300">
          <ul class="md:flex space-x-4">
            <li class="mt-4">
              <a 
                routerLink="dashboard" 
                routerLinkActive="bg-yellow-500"
                class="px-4 py-2 shadow-md rounded-full bg-gray-800 text-white font-medium hover:bg-yellow-500 transition-all duration-300">
                <i class="fa-solid fa-house pr-2"></i>
                Home
              </a>
            </li>
            <li  class="mt-4">
              <a 
                routerLink="transactions" 
                routerLinkActive="bg-yellow-500"
                class="px-4 py-2 shadow-md rounded-full bg-gray-800 text-white font-medium hover:bg-yellow-500 transition-all duration-300">
                <i class="fa-solid fa-list pr-2"></i>
                All Transactions
              </a>
            </li>
            <li class="mt-4">
              <a 
                routerLink="add" 
                routerLinkActive="bg-yellow-500"
                class="px-4 py-2 shadow-md rounded-full bg-gray-800 text-white font-medium hover:bg-yellow-500 transition-all duration-300">
                <i class="fa-solid fa-plus pr-2"></i>
                Add Transaction
              </a>
            </li>
            <li class="mt-4">
              <a 
                routerLink="analysis" 
                routerLinkActive="bg-yellow-500"
                class="px-4 py-2 shadow-md rounded-full bg-gray-800 text-white font-medium hover:bg-yellow-500 transition-all duration-300">
                <i class="fa-solid fa-chart-simple pr-2"></i>
                Analysis
              </a>
            </li>
  
          </ul>
        </div>
        <app-summary-this-month></app-summary-this-month>
      </nav>
      <router-outlet></router-outlet>
      <app-footer ></app-footer>
    </ng-template>  
    
  </div>