<section class="w-11/12 md:w-4/5 mx-auto px-4 mt-10 border-b-2 pb-8 border-gray-300 mb-6">
    <h2 class="text-left mb-5 text-xl md:text-2xl font-semibold ">Summary for {{ currentMonthLabel }}</h2>

    <div class="grid grid-cols-1 sm:grid-cols-4 gap-6">
        <!-- Spending Card -->
        <div class="bg-pink-100 flex items-center shadow-md rounded-full pl-5 mr-16 md:mr-0 md:p-4 md:pl-8 border-t-4 border-red-500">
            <i class="fas fa-arrow-up text-pink-900 text-3xl mr-4"></i> 
            <div class="text-left">
                <h3 class="text-lg font-medium text-pink-900 mb-1">Spending</h3>
                <p class="text-2xl md:text-3xl font-bold text-pink-900">{{ userCurrencySymbol?.toString() + " " + 
                (userCurrencySymbol == 'Rp' ||  userCurrencySymbol == '$U' ? spendingTotal.toFixed(0) : spendingTotal.toFixed(2)) }}
                </p>
            </div>
        </div>

        <!-- Income Card -->
        <div class="bg-lime-100 flex items-center shadow-md rounded-full pl-5 mr-16 md:mr-0 md:p-4 md:pl-8 border-t-4 border-green-500">
            <i class="fas fa-arrow-down text-lime-900 text-3xl mr-4"></i> 
            <div class="text-left">
                <h3 class="text-lg font-medium text-lime-900 mb-1">Income</h3>
                <p class="text-2xl md:text-3xl font-bold text-lime-900">
                    {{userCurrencySymbol?.toString() + " " + 
                    ( userCurrencySymbol == 'Rp' ||  userCurrencySymbol == '$U' ?  incomeTotal.toFixed(0) : incomeTotal.toFixed(2)) }}

                </p>
            </div>
        </div>
        <!-- Balance  -->
        <div class="bg-blue-100 flex items-center shadow-md rounded-full h-15 md:h-auto pl-5 mr-16 md:mr-0 md:p-4 md:pl-8">
            <i class="far fa-money-bill-alt  text-2xl mr-4"></i> 
            <div class="text-left m-2">
                <h3 class="font-medium ">Balance</h3>
                <p class="text-xl md:text-2xl font-bold ">{{userCurrencySymbol?.toString() + " " + ( userCurrencySymbol == 'Rp' ||  userCurrencySymbol == '$U' ? (incomeTotal - spendingTotal).toFixed(0) : (incomeTotal - spendingTotal).toFixed(2)) }}</p>
            </div>
        </div>
        <!-- NEW TRAN  -->
        <div class="flex flex-row-reverse items-center h-20 md:h-auto">
            <div class="border-2 absolute shadow-md rounded-full p-6 px-7 cursor-pointer" routerLinkActive="bg-yellow-500 text-white border-yellow-500" routerLink="add">
                <i class="text-3xl fa-solid fa-plus "></i>
            </div>
        </div>
    </div>
</section>
