<div class="flex flex-col items-center mt-5 mb-10">
    <div class="grid justify-items-center  backdrop-blur-md w-11/12 md:w-4/5 p-6 md:p-8 rounded-xl shadow-md">
      
      <!-- Header Section -->
      <div class="w-full flex flex-col md:flex-row justify-between items-start md:items-center gap-4 pb-6">
        <h2 class="text-2xl font-semibold text-white">Transactions</h2>
        
        <!-- Filter Dropdown -->
        <div class="md:flex items-center self-end md:self-auto gap-2 w-1/2 w-full md:w-auto">
          <label class="text-sm font-medium text-white ">Filters:</label>
          <select
            [(ngModel)]="selectedMonth"
            (change)="filterByMonth()"
            class="mt-1 md:mt-0 bg-white dark:bg-gray-700 text-white border border-gray-300 dark:border-gray-600 rounded-md px-3 py-2 shadow-sm focus:outline-none focus:ring focus:border-blue-400 w-full md:w-auto"
          >
            <option value="">All months</option>
            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
          </select>
          <select
            [(ngModel)]="selectedType"
            (change)="filterByType()"
            class="mt-1 md:mt-0 bg-white dark:bg-gray-700 text-white border border-gray-300 dark:border-gray-600 rounded-md px-3 py-2 shadow-sm focus:outline-none focus:ring focus:border-blue-400 w-full md:w-auto"
          >
            <option value="">All types</option>
            <option *ngFor="let type of types" [value]="type.name">{{ type.name }}</option>
          </select>
          <select
            [(ngModel)]="selectedCategory"
            (change)="filterByCategory()"
            class="mt-1 md:mt-0 bg-white dark:bg-gray-700 text-white border border-gray-300 dark:border-gray-600 rounded-md px-3 py-2 shadow-sm focus:outline-none focus:ring focus:border-blue-400 w-full md:w-auto"
          >
            <option value="">All Categories</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>
  
      <!-- No Transactions Message -->
      <p *ngIf="!transactions.length" class="text-center text-white ">No transactions this month...</p>
  
      <!-- Table (Desktop) -->
      <div *ngIf="transactions.length"  class="overflow-x-auto w-full hidden md:block">
        <table class="w-full table-auto text-sm text-white">
          <thead>
            <tr class="border-b border-gray-400 ">
              <th class="px-4 py-2 text-left">Amount</th>
              <th class="px-4 py-2 text-left">Category</th>
              <th class="px-4 py-2 text-left">Type</th>
              <th class="px-4 py-2 text-left">Date</th>
              <th class="px-4 py-2 text-left">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions" class="border-b border-gray-300 dark:border-gray-600 hover:bg-gray-950">
                <td class="text-left px-4 py-2">{{ transaction?.amount | currency: userCurrencySymbol?.toString() + " "  }}</td>
                <td class="text-left px-4 py-2">
                    <i [ngClass]="[
                        'pr-2 text-yellow-900',
                        categories[transaction?.categoryId ? transaction.categoryId - 1 : 9]?.icon || 'fa-question-circle' 
                    ]"></i>
                    {{ categories[transaction?.categoryId ? transaction.categoryId - 1 : 9]?.name }}
                </td>
                <td class="text-left px-4 py-2" [ngClass]="{
                  'text-green-500': transaction?.type === 'Income',
                  'text-red-500': transaction?.type === 'Expense'
                }">
                  <i [ngClass]="{
                        'fas': true,
                        'fa-arrow-down': transaction?.type === 'Income',
                        'fa-arrow-up': transaction?.type === 'Expense'
                    }"></i>
                  {{ transaction?.type }}
                </td>
                <td class="text-left px-4 py-2">{{ transaction?.date | date: 'dd/MM/yyyy' }}</td>
                <td class="text-left px-4 py-2 md:max-w-sm">{{ transaction?.description }}</td>
                <td class="text-left px-4 py-2">
                  <a (click)="deleteTransaction(transaction?.id ?? 0)"
                     class="text-red-600 hover:text-red-800 hover:underline cursor-pointer">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
              </tr>              
          </tbody>
        </table>
      </div>
  
      <!-- Mobile View -->
      <div *ngIf="transactions.length"  class="md:hidden w-full space-y-4">
        <div *ngFor="let transaction of transactions" class="bg-white rounded-lg p-4 shadow-md">
            <p><span class="font-semibold">Amount:</span> {{ transaction?.amount | currency: userCurrencySymbol?.toString() + " "  }}</p>
            <p><span class="font-semibold">Category:</span> 
                <i [ngClass]="[
                        'pl-2 text-yellow-900',
                        categories[transaction?.categoryId ? transaction.categoryId - 1 : 9]?.icon || 'fa-question-circle' 
                    ]"></i>
                {{ categories[transaction?.categoryId ? transaction.categoryId - 1 : 9]?.name }}
            </p>
            <p>
                <span class="font-semibold">Type:</span> 

                <span [ngClass]="{
                'text-green-500': transaction?.type === 'Income',
                'text-red-500': transaction?.type === 'Expense'
                }">
                {{ transaction?.type }}</span>
            </p>
            <p><span class="font-semibold">Date:</span> {{ transaction?.date | date: 'dd/MM/yyyy' }}</p>
            <p><span class="font-semibold">Description:</span> {{ transaction?.description }}</p>
            <p>
                <a (click)="deleteTransaction(transaction?.id ?? 0)"
                class="text-red-600 hover:text-red-800 hover:underline cursor-pointer">
                <i class="fas fa-trash-alt"></i> Delete
                </a>
            </p>
        </div>
      </div>
    </div>
  </div>
  